@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
img#picture {
  animation: App-logo-spin infinite 8s linear;

}

header {
  background-color: #000;
  opacity: 0.8;
  height: 170px;
  padding: 18px 50px 0;
  

}

header .Top-header {
  text-align: center;
  
}


header .Middle-header {
  padding: 0 10em; 

}

header .Middle-header .our-business {
      
  font-size: 1.2em;
  float: left;
  margin-left: -6em;
  margin-top: -3em;
  cursor: pointer;

  letter-spacing: 1px;
}


header .Mid-header1 .business button:hover , header .Mid-header2 .mission button:hover{
    color: #baf7bb;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,0.7) 30%, #000 50%, rgba(0,0,0,0.7) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
header .Middle-header .contact-us {
  
  font-size: 1.2em;
  float: right;
  margin-top: -3em;
  margin-right: -6em;
  cursor: pointer;

  
  letter-spacing: 1px;
  animation-name: middleHeader;
   animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;  

}
  @keyframes middleHeader {
  

   
  }
header .Low-header {
  
  margin-top: -1.1em;
}
header .Low-header p {
  
  text-align: center;

  
}


header .Low-header p {
  
  color:#fff;
  animation-name: lowHeader;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  }
  @keyframes lowHeader {
  
  0%   {color:#fff;}
  50%  {opacity: 0.1;}
  100%   {color:#fff;}
   
  }

@keyframes App-logo-spin {

 to { transform: rotateY(360deg); }
 
}


.accessibility {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.accordion-title {
    font-weight: normal;
   
}

.accordion-btn {
    all: inherit;
    border-bottom: 0;
}

.accordion-btn:hover,
.accordion-btn:focus {
    cursor: pointer;
}
.Mid-header1 .accordion-icon {
    border: none;
    display: inline-block;
    margin-left: 4px;
    padding: 0 2px;
    text-align: center;
    width: 25px;
}


.Mid-header2 .accordion-icon {
    border: none;
    display: inline-block;
    margin-right: 4px;
    padding: 0 2px;
    text-align: center;
    width: 25px;
}

.accordion-content[hidden] {
    opacity: 0;
    transform: scaleY(0);
}

.Mid-header1 .accordion-content, .Mid-header2 .accordion-content  {
    animation: showhide .3s ease-in-out;
    opacity: 1;
    transform: scaleY(1);
      background-color: #000;

}

@keyframes showhide {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
