@import url(//ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Libre+Baskerville|Roboto+Slab);




.nav {
  display: flex;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  background: #333;
  padding: 0 10px;
  position: relative;
  width: auto;
}

 .link1, .link2, .link3, .link4, .link5, .link6, .link7 {
  width: 100px;
 
  padding: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.home {
  font-size: 30px;
    width: 100px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.home a {
    color: #d1fad2;

}
.link:hover, .home a:hover {
  color: #fff;
}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6, .menu7  {
  opacity: 0;
  position: absolute;
  top: 41px; // same as your nav height
  left: 6.5px;
  background: #333;
  border: 1px solid gray;
  padding: 10px 30px 10px;
  text-align: center;
  transition: all 600ms ease;
}

.menu1.openlink1, .menu2.openlink2, .menu3.openlink3, .menu4.openlink4, .menu5.openlink5, .menu6.openlink6, .menu7.openlink7 {
  opacity: 1;
  border: 1px solid gray;
 

}
.menu1 ul li a, .menu1 ul li a, .menu2 ul li a, .menu3 ul li a, .menu4 ul li a, .menu5 ul li a, .menu6 ul li a , .menu7 ul li a  {
  color: #d1fad2;
  text-decoration: none;
}
i.material-icons {

  position: absolute;
 transition: all 500ms ease;

}
a.btn:active {

  transform: translateY(4px);
 
}
.up {
  display: none;
}


.material-icons.rotate {
  transform: rotateZ(-180deg);
  transition: all 500ms ease;
}

.material-icons.toggled {
  color:   #ff6666;
}
.btn .retoggled {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div span.link i {
  top: 8px;
    right: 2px;
} 
div ul li:not(:first-child) {
  margin-top: 8px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*IconColor*/
    width: 30px;
    height: 30px;
   position: absolute;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d1fad2 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.btn .material-icons {
    position: absolute;
}
.btn:active {/*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}